%section-title{
    font-size: 50px;
    color: $text-color--dark;
    font-weight: 700;
    line-height: 60px;
    text-decoration: underline;
    text-decoration-color: #fdf0ec;
}

%box-title{
    font-size: 20px;
    line-height: 34px;
    color: $text-color--dark;
    font-weight: 600;
}