.feature-aria{
    padding-top: 110px;
    padding-bottom: 100px;
    position: relative;
    @media #{$md} {
        display: flex;
        flex-direction: column;
    }
    &--content{
        &-title{
            margin-bottom: 60px;
        }
        &-box{
            display: flex;
            justify-content: space-between;
            &--title{
                line-height: 25px;
                padding-top: 20px;
            }
            &--icon{
                font-size: 50px;
                &-one{
                    color: $pimary-color;
                }
                &-tow{
                    color: #5dd8d3;
                }
                &-three{
                    color: #9364d4;
                }
            }
        }
        &-text{
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            color: #777b92;
            padding: 40px 0 35px;
        }
    }
    &--img{
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        @media #{$md} {
            position: relative;
            width: 100%;
            order: -1;
            top: -20px;
            margin: 0 auto;
            transform: translateY(0px);
            right: 20px;
        }
    }
}